.box1{
    padding-left: 10px; 
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.box2{
    /* Value of 1 : All sides */
    /* Value of 2 : Top Bottom / Right left */
    /* Value of 3 :  TOP / RIGHT LEFT / BOTTOM */
    /* Value of 4 : TOP /  RIGHT / BOTTOM / LEFT */
    padding: 10px;
    padding: 10px 20px;
    padding: 10px 20px 30px;
    padding: 10px 20px 30px 40px;
}
.box3{
    margin-top: 10px; 
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 40px;
 }
 .mix-borders{
    background-color: green;
    height: 80px;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-style: dashed;
    border-style: dotted;
    border-style: double;
    border-width: 8px;
    border-color: tomato;
    /* SHORT HAND */
    border:  dashed 5px blue ;
}
.circle-container{
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-radius: 50%;
}